<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ldap="http://typo3.org/ns/Causal/IgLdapSsoAuth/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{status}">
    <h2>
        <f:translate key="module_search_status"/>
    </h2>
    <ldap:configurationTable data="{status}" humanKeyNames="1"/>
</f:if>

<f:if condition="{preview}">
    <f:then>
        <h2>
            <f:translate key="module_search_preview"/>
        </h2>
        <ldap:configurationTable data="{preview}"/>
    </f:then>
</f:if>

<h2>
    <f:translate key="module_search_result"/>
</h2>
<f:if condition="{resultset}">
    <f:then>
        <ldap:configurationTable data="{resultset}"/>
    </f:then>
    <f:else>
        <em>
            <f:translate key="module_search_noResult"/>
        </em>
    </f:else>
</f:if>

</html>
