<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ldap="http://typo3.org/ns/Causal/IgLdapSsoAuth/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{configurationRecords->f:count()}==1">
    <f:then>
        {configurationRecords.0.name}
        <f:format.raw>{editLink}</f:format.raw>
    </f:then>
    <f:else>
        <f:form action="{action}" method="post" class="form-inline">
            <div class="form-group" style="display: flex;">
                <ldap:form.select
                        name="configuration"
                        options="{configurationRecords}"
                        value="{currentConfiguration}"
                        optionValueField="uid"
                        optionLabelField="name"
                        onchange="this.form.submit();"
                        class="form-select"
                        style="display: inline-flex; width: 100%;"/>

                <f:form.submit
                        class="form-submit form-submit-sm form-control"
                        style="margin-inline-start: 1rem;"
                        value="{f:translate(key: 'module_docheader.configurations.switch')}"/>
            </div>
            <div style="margin-block-start: .5rem; display: flex;">
                <span style="margin-inline: .375rem;">{f:translate(key: 'module_docheader.configurations.edit')}</span>
                <f:format.raw>{editLink}</f:format.raw>
            </div>
        </f:form>
    </f:else>
</f:if>

</html>
