<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ldap="http://typo3.org/ns/Causal/IgLdapSsoAuth/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form id="tx-igldapssoauth-importform" data-ajaxaction="ldap_groups_import">
    <input type="hidden" name="configuration" value="{currentConfiguration.uid}"/>
    <input type="hidden" name="mode" value="{mode}"/>
    <input type="hidden" id="tx-igldapssoauth-dn" name="dn" value=""/>

    <table class="table table-striped table-hover">
        <tr>
            <th class="col-icon">&nbsp;</th>
            <th>
                <f:translate key="module_import.field.name"/>
            </th>
            <th>DN</th>
            <f:if condition="{mode}=='fe'">
                <th>pid</th>
            </f:if>
            <th>&nbsp;</th>
        </tr>

        <f:for each="{groups}" as="group">
            <tr class="{f:if(condition:group.uid,then:'local-ldap-user-or-group')} {f:if(condition:group.deleted,then:'deleted-ldap-user-or-group')}">
                <td class="col-icon">
                    <f:if condition="{mode}=='be'">
                        <f:then>
                            <ldap:spriteManagerIcon iconName="status-user-group-backend" uid="{group.uid}"/>
                        </f:then>
                        <f:else>
                            <ldap:spriteManagerIcon iconName="status-user-group-frontend" uid="{group.uid}"/>
                        </f:else>
                    </f:if>
                </td>
                <td>{group.title}</td>
                <td>{group.tx_igldapssoauth_dn}</td>
                <f:if condition="{mode}=='fe'">
                    <td class="{f:if(condition:group.uid,then:'',else:'future-value')}">
                        {group.pid}
                    </td>
                </f:if>
                <td>
                    <button class="btn btn-primary" name="item" value="{group.tx_igldapssoauth_dn}">
                        <f:if condition="{group.deleted}">
                            <f:then>
                                <f:translate key="module_import.action.undelete"/>
                            </f:then>
                            <f:else>
                                <f:if condition="{group.uid}">
                                    <f:then>
                                        <f:translate key="module_import.action.update"/>
                                    </f:then>
                                    <f:else>
                                        <f:translate key="module_import.action.import"/>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </button>
                </td>
            </tr>
        </f:for>

        <caption>
            <ul>
                <li><span class="square-local"></span>
                    <f:translate key="module_import_groups.caption_local"/>
                </li>
                <li><span class="square-deleted"></span>
                    <f:translate key="module_import_groups.caption_deleted"/>
                </li>
            </ul>
        </caption>
    </table>
</form>

</html>
