<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="ig_ldap_sso_auth_module" href="EXT:ig_ldap_sso_auth/Resources/Public/Css/styles.css"/>

<div class="module">
    <div class="module-loading-indicator"></div>
    <div class="module-docheader t3js-module-docheader" style="height: auto;">
        <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row">
            <div class="module-docheader-bar-column-left col-xs-12 col-sm-3">
                <div class="form-inline">
                    <div class="form-group form-group-sm">
                        <f:render section="iconButtons"/>
                    </div>
                </div>
            </div>
            <div class="module-docheader-bar-column-right col-xs-12 col-sm-9 text-right">

            </div>
        </div>
        <div class="module-docheader-bar" style="height: auto;">
            <f:render section="configuration"/>
        </div>
    </div>
    <f:if condition="{configurationRecords -> f:count()}==1">
        <f:then><f:variable name="paddingTop" value="89"/></f:then>
        <f:else><f:variable name="paddingTop" value="135"/></f:else>
    </f:if>
    <div class="module-body t3js-module-body" style="padding-top: {paddingTop}px;">
        <f:render section="content"/>
    </div>
</div>

</html>
