<f:be.container
	includeCssFiles="{0: '{f:uri.resource(path:\'Styles/styles.css\')}'}"
	includeJsFiles="{
		0: '{f:uri.resource(path:\'JavaScript/search.js\')}',
		1: '{f:uri.resource(path:\'JavaScript/import.js\')}'
	}"
	enableClickMenu="0"
	loadPrototype="0"
	loadExtJsTheme="0"
	loadJQuery="1"
>
	<div class="typo3-fullDoc" id="ext-reports-mod-index-php">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:render section="iconButtons" />
				</div>
				<div class="right">

				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:render section="configuration" />
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>