/** [start] TYPO3 v11 Fix **/
div.module[data-module-name="system_IgLdapSsoAuthTxigldapssoauthm1"] .module-docheader {
    /** TYPO3 v11 Prevent too much space between the module header and the module body **/
    position: fixed;
}
div.module[data-module-name="system_IgLdapSsoAuthTxigldapssoauthm1"] > .module-body {
    padding: 0;
}
/** [end] **/

/** TYPO3 v12 fix (same as v11 actually), weird! **/
.module-docheader {
    /** Prevent too much space between the module header and the module body **/
    position: fixed;
}

table table.table {
    margin-bottom: 0;
}

.table td.key {
    font-weight: bold;
    vertical-align: top;
    width: 30%;
}

.table .table td.key {
    width: 10%;
    min-width: 14em;
}

td.col-icon {
    width: 20px;
}

tr.local-ldap-user-or-group,
.square-local,
tr.local-ldap-user-or-group,
tr.local-ldap-user-or-group td {
    background-color: #093 !important;
    color: #fff;
}

tr.deleted-ldap-user-or-group,
.square-deleted,
tr.deleted-ldap-user-or-group,
tr.deleted-ldap-user-or-group td {
    background-color: #f00 !important;
    color: #fff;
}

td.key.error {
    background-color: #f00;
    color: #fff;
}

td.future-value {
    font-style: italic;
}

caption {
    caption-side: bottom;
    text-align: left;
    margin-top: .5em;
}

caption ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.square-deleted, .square-local {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.value-default {
    color: #00f;
}

.value-success {
    color: #093;
}

.value-error {
    color: #f00;
}

.value-enabled {
    font-weight: bold;
}

.value-disabled {
    font-style: italic;
}

input[type='text'] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 5em;
}

button {
    width: 10em;
}
