<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ldap="http://typo3.org/ns/Causal/IgLdapSsoAuth/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="iconButtons">
    <f:render partial="Menu" arguments="{menu:menu, currentConfiguration:currentConfiguration, action: action}"/>
</f:section>

<f:section name="configuration">
    <f:render partial="ConfigurationRecords"
              arguments="{configurationRecords:configurationRecords, currentConfiguration:currentConfiguration, editLink:editLink, action:action}"/>
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="module_import_users_fe"/>
    </h1>
    <f:flashMessages/>

    <f:if condition="{users}">
        <f:then>
            <f:render partial="LdapUsers" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:translate key="module_import_users.empty"/>
        </f:else>
    </f:if>
</f:section>

</html>
