{namespace ldap=Causal\IgLdapSsoAuth\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
	<f:render partial="Menu" arguments="{menu:menu, currentConfiguration:currentConfiguration}" />
</f:section>

<f:section name="configuration">
	<f:render partial="ConfigurationRecords" arguments="{configurationRecords:configurationRecords, currentConfiguration:currentConfiguration, editLink:editLink, action:action}" />
</f:section>

<f:section name="content">
	<h1><f:translate key="module_search" /></h1>
	<f:flashMessages renderMode="div" />

	<f:form id="tx-igldapssoauth-searchform" action="searchAjax">
		<f:form.hidden name="configuration" value="{currentConfiguration.uid}" />
		<table class="{classes.table}">
			<tr class="{classes.tableRow}">
				<td class="key"><f:translate key="module_search_type" /></td>
				<td>
					<f:form.radio id="tx-igldapssoauth-type-0" name="type" value="fe_users" checked="checked" /> <label for="tx-igldapssoauth-type-0"><f:translate key="module_search_type.frontendUsers" /></label><br />
					<f:form.radio id="tx-igldapssoauth-type-1" name="type" value="fe_groups" /> <label for="tx-igldapssoauth-type-1"><f:translate key="module_search_type.frontendUserGroups" /></label><br />
					<f:form.radio id="tx-igldapssoauth-type-2" name="type" value="be_users" /> <label for="tx-igldapssoauth-type-2"><f:translate key="module_search_type.backendUsers" /></label><br />
					<f:form.radio id="tx-igldapssoauth-type-3" name="type" value="be_groups" /> <label for="tx-igldapssoauth-type-3"><f:translate key="module_search_type.backendUserGroups" /></label>
				</td>
			</tr>
			<tr class="{classes.tableRow}">
				<td class="key"><f:translate key="module_search_options" /></td>
				<td>
					<f:form.checkbox id="tx-igldapssoauth-firstentry" name="firstEntry" value="1" checked="checked" /> <label for="tx-igldapssoauth-firstentry"><f:translate key="module_search_options.firstEntry" /></label><br />
					<f:form.checkbox id="tx-igldapssoauth-showstatus" name="showStatus" value="1" /> <label for="tx-igldapssoauth-showstatus"><f:translate key="module_search_options.status" /></label>
				</td>
			</tr>
			<tr class="{classes.tableRow}">
				<td class="key"><label for="tx-igldapssoauth-basedn"><f:translate key="module_search_basedn" /></label></td>
				<td><f:form.textfield id="tx-igldapssoauth-basedn" name="baseDn" value="{baseDn}" /></td>
			</tr>
			<tr class="{classes.tableRow}">
				<td class="key"><label for="tx-igldapssoauth-filter"><f:translate key="module_search_filter" /></label></td>
				<td><f:form.textarea id="tx-igldapssoauth-filter" name="filter" value="{filter}" /></td>
			</tr>
			<tr class="{classes.tableRow}">
				<td></td>
				<td><input id="tx-igldapssoauth-search" type="button" value="{f:translate(key:'module_search.action.search')}" /></td>
			</tr>
		</table>
	</f:form>

	<div id="tx-igldapssoauth-result"></div>

	<script type="text/javascript">
		// Initialize the editor
		IgLdapSsoAuthSearch.actions.updateForm = "{f:uri.action(action:'updateSearchAjax', arguments:{configuration:currentConfiguration.uid, type:'TYPE'})}";
	</script>
</f:section>