<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ldap="http://typo3.org/ns/Causal/IgLdapSsoAuth/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="iconButtons">
    <f:render partial="Menu" arguments="{menu:menu, currentConfiguration:currentConfiguration, action: action}"/>
</f:section>

<f:section name="configuration">
    <f:render partial="ConfigurationRecords"
              arguments="{configurationRecords:configurationRecords, currentConfiguration:currentConfiguration, editLink:editLink, action:action}"/>
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="module_search"/>
    </h1>
    <ldap:flashMessages/>

    <form id="tx-igldapssoauth-searchform">
        <input type="hidden" name="configuration" value="{currentConfiguration.uid}"/>
        <table class="table table-striped table-hover">
            <tr>
                <td class="key">
                    <f:translate key="module_search_type"/>
                </td>
                <td>
                    <input type="radio" id="tx-igldapssoauth-type-0" name="type" value="fe_users" checked="checked"/>
                    <label for="tx-igldapssoauth-type-0">
                        <f:translate key="module_search_type.frontendUsers"/>
                    </label><br/>
                    <input type="radio" id="tx-igldapssoauth-type-1" name="type" value="fe_groups"/>
                    <label for="tx-igldapssoauth-type-1">
                        <f:translate key="module_search_type.frontendUserGroups"/>
                    </label><br/>
                    <input type="radio" id="tx-igldapssoauth-type-2" name="type" value="be_users"/>
                    <label for="tx-igldapssoauth-type-2">
                        <f:translate key="module_search_type.backendUsers"/>
                    </label><br/>
                    <input type="radio" id="tx-igldapssoauth-type-3" name="type" value="be_groups"/>
                    <label for="tx-igldapssoauth-type-3">
                        <f:translate key="module_search_type.backendUserGroups"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="key">
                    <f:translate key="module_search_options"/>
                </td>
                <td>
                    <input type="checkbox" id="tx-igldapssoauth-firstentry" name="firstEntry" value="1" checked="checked"/>
                    <label for="tx-igldapssoauth-firstentry">
                        <f:translate key="module_search_options.firstEntry"/>
                    </label><br/>
                    <input type="checkbox" id="tx-igldapssoauth-showstatus" name="showStatus" value="1"/>
                    <label for="tx-igldapssoauth-showstatus">
                        <f:translate key="module_search_options.status"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="key"><label for="tx-igldapssoauth-basedn">
                    <f:translate key="module_search_basedn"/>
                </label></td>
                <td>
                    <input type="text" id="tx-igldapssoauth-basedn" name="baseDn" value="{baseDn}"/>
                </td>
            </tr>
            <tr>
                <td class="key"><label for="tx-igldapssoauth-filter">
                    <f:translate key="module_search_filter"/>
                </label></td>
                <td>
                    <textarea id="tx-igldapssoauth-filter" name="filter">{filter}</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input id="tx-igldapssoauth-search" type="button"
                           value="{f:translate(key:'module_search.action.search')}"/></td>
            </tr>
        </table>
    </form>

    <div id="tx-igldapssoauth-result" data-configuration="{currentConfiguration.uid}"></div>
</f:section>

</html>
